@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
$bg:#FAF5FF;
$bg-200:#f4ebfc;


@mixin flexer($direction, $justify, $align) {
    display: flex;
    flex-flow: $direction wrap;
    justify-content: $justify;
    align-items: $align;
  }


